<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nefu.test01.mapper.UserMapper">


<!--    boolean insertUser(User user);-->
    <insert id="insertUser" parameterType="User">
        insert into user values(null,#{userName},#{password});
    </insert>

</mapper>
